.body {
  font-family: "Lora", serif;
  background: linear-gradient(90deg, rgb(255, 0, 170), purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.carrossel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem;
}
.section2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.input {
  width: 80%;
  height: 2.5rem;
  background-color: white;
  border-radius: 1.5rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
.voltar {
  color: rgb(163, 0, 163);
  font-size: 3rem;
  font-weight: bold;
  margin: auto;
}
.img_p {
  margin: auto;
}
.circulo {
  background-color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

a {
  text-decoration: none;
  width: 100%;
}

.squares {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
}

.square {
  display: flex;
  height: 5rem;
  width: 5rem;
  background-color: rgb(255, 43, 43);
  border-style: solid;
  border-color: white;
  border-width:0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
}

.square2 {
  display:flex;
  height: 5rem;
  width: 5rem;
  background-color: #4bdda5;
  border-style: solid;
  border-color: white;
  border-width:0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
}

.text {
  display: absolute;
  margin-top: 30;
  align-content: center;
  font-family: "Montserrat", sans-serif;
}

.button {
  align-content: center;
  align-items: center;
}

.prev,
.next {
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1.5rem;
}
p{
  margin:auto
}

.pular, .aceitar{
  font-weight:bold;
  color:white;
}