.section1{
	display:flex;
	justify-content: center;
    align-content: center;
    height:25rem;
}
.triagem-grafico{ 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    width: 15rem;
    height:15rem;
    margin:5rem;
}
.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:25rem;

}
.vertical1{
    width: 15rem;
    height:15rem;
    margin:5rem; 
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    

}
.vertical2{
    width: 15rem;
    height:15rem;
    margin:5rem; 
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin:auto;
}


.importar{
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    width: 9rem;
    height:9rem;
    display:flex;
	justify-content: center;
    align-content: center;
    margin:auto;

}

.testes{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    width: 9rem;
    height:9rem;
    display:flex;
	justify-content: center;
    align-content: center;
    margin:auto;
}

.triagem{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    width: 9rem;
    height:9rem;
    display:flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
    margin:auto;

}

.aprender{

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    width: 9rem;
    height:9rem;
    display:flex;
	justify-content: center;
    align-content: center;
    margin:auto;
}

.curriculo{
    width:5rem;
    margin:auto;
}

.curriculo_texto{
    margin:auto;
}



