.main {
  font-family: "Lora", serif;
  background: linear-gradient(90deg, rgb(255, 0, 170), purple);
}
.section1 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 22rem;
  flex-direction: column;
}

.triagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.prev,
.next {
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1.5rem;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
.sub-titulo {
  font-weight: bold;
  margin-top: 1rem;
}
.triagem-grafico {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  width: 15rem;
  height: 18rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.triagem-grafico-backend {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  width: 15rem;
  height: 18rem;
  margin: auto;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.triagem-grafico1 {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.etapa1,
.etapa2,
.etapa3,
.etapa4 {
  display: flex;
  flex-direction: row;
}


.barra1 {
  height: 0.8rem;
  background-color: rgb(255, 0, 191);
  border-radius: 1rem;
  margin: 0.12rem;
}
.barra2 {
  height: 0.8rem;
  background-color: rgb(174, 0, 255);
  border-radius: 1rem;
  margin: 0.12rem;
}
.barra3 {
  height: 0.8rem;
  background-color: rgb(255, 81, 0);
  border-radius: 1rem;
  margin: 0.12rem;
}

.barra1-backend {
  height: 0.8rem;
  background-color: rgb(255, 0, 191);
  border-radius: 1rem;
  margin: 0.12rem;
}
.barra2-backend {
  height: 0.8rem;
  background-color: rgb(174, 0, 255);
  border-radius: 1rem;
  margin: 0.12rem;
}
.barra3-backend {
  height: 0.8rem;
  background-color: rgb(255, 81, 0);
  border-radius: 1rem;
  margin: 0.12rem;
}

.section2 {
  display: flex;
  flex-direction: column;
  height: 20rem;
}
.horizontal1 {
  padding: 0;
  margin: auto;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  background-color: white;
}

.importar {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  width: 8rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.testes {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  width: 8rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.triagem {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  width: 8rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.aprender {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  width: 8rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.curriculo {
  width: 5rem;
  margin: auto;
}
.livro {
  width: 5rem;
  margin: auto;
}

.download {
  width: 5rem;
  margin: auto;
}

.assert {
  width: 5rem;
  margin: auto;
}

.curriculo_texto {
  margin-top: auto;
  color: black;
}
.aprender_texto {
  margin-top: auto;
  color: black;
}

.importar_texto {
  margin-top: auto;
  color: black;
}

.testes_texto {
  margin-top: auto;
  color: black;
}
.section3 {
  height: 3rem;
  overflow: hidden;
  bottom: -0.1rem
}
.onda {
  background-image: url("../img/waves.png");
  background-size: 50% 30px;
  animation: waves 8s linear infinite;
  position: relative;
  bottom: -0.1rem;
  left: 0;
  right: 0;
  height: 100%;
  width: 200%;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  transform-origin: center bottom;
}

@keyframes waves {
  0% {
    transform: translateX(0%) translateZ(0) scaleY(1);
  }
  0% {
    transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  0% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

body,
html {
}

a {
  text-decoration: none;
}

.rosa {
  width: 1rem;
  height: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(255, 0, 191);
}

.roxo {
  width: 1rem;
  height: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(174, 0, 255);
}

.laranja {
  width: 1rem;
  height: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(255, 81, 0);
  margin-bottom: 2rem;
}
.legenda {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.elemento {
  display: flex;
  flex-direction: row;
  margin: 0.25rem;
}

.p {
  margin-left: 0.5rem;
}
