.main{
    font-family: "Montserrat", sans-serif;
    background:linear-gradient(90deg, rgb(255, 0, 170), purple);
    display:flex;
    flex-direction: column;
}


.header {
    font-size: 6rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom:8rem;
}


.item{
    margin-left:4rem;
    margin-bottom: 7rem;
    font-size: 4.1rem;
}

.voltar{
    color:rgb(163, 0, 163);
    font-size: 5rem;
    font-weight: bold;
    margin:auto;
}

.circulo{
    background-color: white;
    height:7rem;
    width:7rem;
    border-radius: 5rem;
    display:flex;
    justify-content: center;
    margin-top:2rem;
    margin-left:2rem;
}


A {text-decoration: none;
    width:100%;


}